#milktea{
  display:flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 100px;

}



.milk:hover{
  transform: scale(1.2);
  cursor: pointer;
}

h1{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 180px;
  font-size: 40px;

}
h2{
  font-family: 'Roboto Mono', monospace;
  display:flex;
  align-items: center;
  justify-content: center;

}

body{
  background-color: #bfd9d9;
}

img.milk{
  height:400px;
}

img.smile{
  height:50px;
}

div:active{
  
}
